nav.navbar.navbar-expand-lg.navbar-dark.px-3(style='background-color: brown;')
  .container-fluid
    a.navbar-brand(href='/') Home
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarTogglerDemo02' aria-controls='navbarTogglerDemo02' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarTogglerDemo02.collapse.navbar-collapse
      ul.d-flex.ms-auto.navbar-nav
        li.nav-item
          a.nav-link(href='/signup') Sign Up
        li.nav-item
          a.nav-link(href='/login') Login
